<h2>The hero list</h2>

<ul *ngIf="heroes.length">
  <li *ngFor="let hero of heroes">
    <h4>{{ hero.heroName }}</h4>
    <img *ngIf="hero.picture" [src]="hero.picture" [alt]="hero.heroName" width="200px" />
  </li>
</ul>

<h3 *ngIf="!heroes.length">The hero list is empty! 😱</h3>